/* Container Wallet */
#walletcont {
  display: flex;
  width: 100%;
  flex-direction: column;
  background-image: linear-gradient(rgb(53, 53, 53), rgb(255, 255, 255));
}
/* Boton goback */
.goback {
  width: 40%;
  height: 80%;
  margin-top: 10%;
  align-self: center;
  text-align: center;
  color: black;
  font-size: 20px;
  font-weight: 700;
  box-shadow: 5px 5px 5px rgb(73, 70, 70);
  background-color: rgb(228, 253, 0);
  border-color: transparent !important;
}
.goback:hover {
  background-color: rgb(167, 167, 167) !important;
  box-shadow: none !important;
  border-color: transparent !important;
}

@media only screen and (max-width: 415px) {
  /* Container Wallet */
  #walletcont {
    display: flex;
    width: 100%;
    flex-direction: column;
    background-image: linear-gradient(rgb(53, 53, 53), rgb(255, 255, 255));
  }
  #headerwallet {
    width: 100%;
    align-self: center;
  }
  .onewalletdiv {
    width: 100%;
    align-self: center;
    justify-content: center;
  }
  /* Boton goback */
  .goback {
    width: 40%;
    height: 80%;
    margin-top: 10%;
    align-self: center;
    text-align: center;
    color: black;
    font-size: 20px;
    font-weight: 700;
    box-shadow: 5px 5px 5px rgb(73, 70, 70);
    background-color: rgb(228, 253, 0);
    border-color: transparent !important;
  }
  .goback:hover {
    background-color: rgb(167, 167, 167) !important;
    box-shadow: none !important;
    border-color: transparent !important;
  }
}
